body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue";
  background: #979797;
}

#input-flux {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

#input-container {
  padding: 20px 0;
  height: 100%;
  box-sizing: border-box;
  background: #EEE;
  width: 700px;
  text-align: center;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

#input {
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border: 0;
  resize: none;
  line-height: 18px;
  font-size: 13px;
}

#output-container {
  width: 100%;
  background: white;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  box-sizing: border-box;
}

#foo > textarea {
  border: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#help {
  background: rgba(255, 255, 255, 0.9);
  z-index: 99;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 5px;
  height: 30px;
  line-height: 20px;
  font-size: 14px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: height 0.3s;
  overflow-y: scroll;

  color: #222;
}

#help:hover {
  height: 80vh;
}

p {
  margin-top: 0;
}

pre {
  background: #DDD;
  border: 1px solid #777;
  border-radius: 3px;
  padding: 3px;
}

h2 {
  color: #555;
}

pre[contenteditable] {
  animation: preglow 1s infinite;
}

@keyframes preglow {
  0% {
    background: #DDD;
  }

  50% {
    background: #E4E4E4;
  }

  100% {
    background: #DDD;
  }
}
